In [1]:
import pandas as pd 
import numpy as np 
import sklearn
import matplotlib 
import scipy

In [2]:
import zipfile
import os
from io import BytesIO

In [3]:
def read_csvs(folder_path):

    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):

            name = os.path.splitext(filename)[0]

            file_path = os.path.join(folder_path, filename)
            df = pd.read_csv(file_path)

            globals()[name] = df

In [4]:
file_path = '/Users/kevinfinn/Documents/csv_files/train'
dataframes = read_csvs(file_path)

/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (20,45,46,56,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (20,45,46,53,57,84,143,146,167) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (1,2,3,4,7,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/l2/yg146pls5_q015mz26q0pyfm0000gn/T/ipykernel_96116/4238755053.py:9: DtypeWarning: Columns (11,12,14,30,44,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [6]:
train_applprev_1_0

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,...,num_group1,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,2,0.0,1682.4,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,1,NaN,12.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,12.0
2,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,...,0,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
3,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,...,0,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
4,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,...,0,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887679,2651092,0.0,3000.0,2019-12-30,NaN,a55475b1,NaN,2019-12-30,53300.0,53300.0,...,0,53998.0,18.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,N,18.0
3887680,2651092,0.0,3119.2,2012-12-12,25000.0,a55475b1,1.0,2012-12-12,NaN,0.0,...,7,0.0,12.0,P149_40_170,a55475b1,a55475b1,a55475b1,NaN,K,12.0
3887681,2651092,0.0,4366.0,2017-11-09,NaN,a55475b1,NaN,2017-11-09,NaN,0.0,...,4,0.0,5.0,P60_146_156,a55475b1,a55475b1,a55475b1,NaN,K,5.0
3887682,2651092,0.0,4496.6,2019-02-17,NaN,a55475b1,NaN,2019-02-17,NaN,0.0,...,2,0.0,6.0,P149_40_170,a55475b1,a55475b1,a55475b1,NaN,K,6.0
3887683,2651092,0.0,NaN,2014-02-15,60000.0,a55475b1,1.0,2014-02-15,NaN,53300.0,...,6,0.0,NaN,P46_145_78,a55475b1,a55475b1,a55475b1,680531000.0,K,NaN